<div class="calendar-this">
        <div class="calendar-menu">
            <div class="ui pagination menu">
                <a class="icon item" onclick="prevCalendar(1);">
                    <i class="left chevron icon"></i>
                </a>

                <a id="tbCalendarYM" class="item calendar title">
                </a>

                <a class="icon item" onclick="nextCalendar(1);">
                    <i class="right chevron icon"></i>
                </a>
            </div>
        </div>

        <table class="ui segment calendar">
            <thead id="calendar_header">
            </thead>
            <tbody id="calendar_body" class="tbody-anim">      
            </tbody>
        </table>
    </div>