<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#FDC23E">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>
    <script src="javascripts/jquery.touchSwipe.min.js"></script>

    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/schedule.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/color.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Shrikhand" rel="stylesheet">
</head>
<body>
    <div id="side_menu" class="ui left vertical menu sidebar yellow">
        <h4 class="head-schedury">Schedury</h4>
    </div>

    <div class="pusher noanim">

        <header>
            <div class="button-menu">
                <button class="ui labeled icon button white" onclick="onMenu();">
                    <i class="icon bars large"></i>
                    <h4 class="head-schedury small">Schedury</h4>
                </button>
            </div>

            <div class="header-menu">
                <div class="ui pagination menu">
                    <a id="menu_schedule" class="item active" onclick="menuToggle(this.id);"><i class="icon calendar check outline"></i>일정</a>
                    <a id="menu_diary" class="item" onclick="menuToggle(this.id);"><i class="icon edit outline"></i>일기</a>
                </div>
            </div>
            
        </header>

        <div class="calendar-this">
            <div class="calendar-menu">
                <div class="ui pagination menu">
                    <a class="icon item" onclick="prevCalendar(1);">
                        <i class="left chevron icon"></i>
                    </a>
                    <a id="tbCalendarYM" class="item calendar title"></a>
                    <a class="icon item" onclick="nextCalendar(1);">
                        <i class="right chevron icon"></i>
                    </a>
                </div>
            </div>

            <table class="ui segment calendar">
                <thead id="calendar_header">
                </thead>
                <tbody id="calendar_body" class="tbody-anim">      
                </tbody>
            </table>
        </div>
    </div>

    <script src="javascripts/calendar.js"></script>
    <script src="javascripts/schedule.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/calendar.css" />

    <script>
        buildCalendar(1);
    </script>
</body>
</html>