<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/dist/semantic.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/dist/semantic.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/schedule.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/color.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/list.css" />
    <script src="/javascripts/schedule_list.js"></script>

     

    <!-- 날짜 검색 라이브러리 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.2.3/flatpickr.css">
</head>
<body>
    <div>
        <div id='mod' class="ui longer modal">
            <div id="modal_content" class="ui two column stackable grid">
                <div id="left_cont" class="four wide column">
                    <h2 id='modal_header_diary' class="ui center aligned header nanumsquare">7월 31일 화요일</h2>

                    <div id="list_of_schedules" class="nanumsquare">
                        <table id="sched_table" class="ui stackable table">
                            <thead style="display: none">
                                <tr><th class="three wide"></th>
                                <th class="ten wide"></th>
                                <th class="three wide"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="일정1">
                                    <td class="schedule-time">오전</td>
                                    <td>
                                        일정 이름 ddddddddd<br>
                                        일정 장소<br>
                                    </td>
                                    <td>아이콘</td>
                                </tr>
                                <tr class="일정2">
                                    <td class="schedule-time">오후</td>
                                    <td>
                                        일정 이름<br>
                                        일정 장소<br>
                                    </td>
                                    <td>아이콘</td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr style="padding: 0">
                                    <th colspan="3" style="padding: 0 !important">
                                        <button id="newsched_button" class="fluid ui button">
                                            <i class="plus icon"></i>
                                            새 일정 추가
                                        </button>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div id="left_cont2" class="four wide column">
                    <form action="/new_schedule" method="post">
                        <div id="sched_name" class="ui input">
                            <input name="nameSched" type="text" class="nanumsquare" placeholder="일정 이름">
                        </div>
                        
                        <span class="group-text nanumsquare">날짜<br></span>
                        <div style="display: flex">
                            <div class="ui input">
                                <input name="dateSched" id="start_date" class="nanumsquare" type="text" placeholder="날짜" data-input>
                            </div>
                        </div>
                        <div style="display: flex">
                            <div class="ui input">
                                <input name="startTime" id="time1" placeholder="시작 시간" class="nanumsquare">
                            </div>
                            <div class="ui input">
                                <input name="endTime" id="time2" placeholder="종료 시간" class="nanumsquare">
                            </div>
                        </div>
                        <div class="ui input">
                            <input name="allDay" id="all_day" type="checkbox">
                            <label for="all_day" class="nanumsquare">종일</label>
                        </div>

                        <!-- <div class="cont_repeat">                        
                            <div class="ui accordion nanumsquare">
                                <div class="title nanumsquare">
                                    <i class="icon dropdown"></i>
                                    반복 없음
                                </div>
                                <div class="content field">
                                    <label class="transition hidden">일정 반복</label>
                                    <div id="repeat_dropdown" class="ui selection dropdown nanumsquare">
                                        <input id="p_repeat" type="hidden" name="repeat">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">일정 반복</div>
                                        <div class="menu">
                                            <div class="item" data-value="일">매일</div>
                                            <div class="item" data-value="주">매주</div>
                                            <div class="item" data-value="개월">매달</div>
                                            <div class="item" data-value="년">매년</div>
                                        </div>
                                    </div>
                                    <div class="ui right labeled input">
                                        <input type="text" value="1" name="numberPeriod">
                                        <div id="repeating_period" class="ui basic label">
                                            일마다
                                        </div>
                                    </div>
                                    <div style="display: flex">
                                        <div class="ui input">
                                            <input name="endRepeat" id="end_repeat" class="nanumsquare" type="text" placeholder="종료일" data-input>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="cont_repeat nanumsquare">
                            <div>
                                <label>일정 반복</label>
                                <div id="repeat_dropdown" class="ui selection dropdown nanumsquare">
                                    <input id="p_repeat" type="hidden" name="repeat">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">반복 없음</div>
                                    <div class="menu">
                                        <div class="item active selected" data-value="0">반복 없음</div>
                                        <div class="item" data-value="1">매일</div>
                                        <div class="item" data-value="2">매주</div>
                                        <div class="item" data-value="3">매달</div>
                                        <div class="item" data-value="4">매년</div>
                                    </div>
                                </div>
                                <div id="repeat_details" class="ui right labeled input">
                                    <input id="number_of_repeat" type="text" value="1" name="numberPeriod">
                                    <div id="repeating_period" class="ui basic label">
                                        일마다
                                    </div>
                                </div>
                                <div id="repeat_details2">
                                    <div class="ui input">
                                        <input name="endRepeat" id="end_repeat" class="nanumsquare" type="text" placeholder="종료일" data-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input class="ui button nanumsquare" id="submit-form" type="submit" value="일정 등록">
                    </form>
                </div>
                
                <div id="cont_divider" class="ui vertical divider" style="position: relative"></div>
                <!-- 여기까지~~~~~~~~~~~~~~~~!~!~!~!~!~!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div class="twelve wide column">
                    <div id='mod_right_content'>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       $('.ui.longer.modal').modal('show');
    </script>
</body>
</html>