<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='/stylesheets/settings.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel='stylesheet' href='/stylesheets/color.css' />

    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="../dist/semantic.css"/>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="../dist/semantic.js"></script>


  </head>

  <body class='nanumsquare'>
    <div id=layout>
      <div onclick="history.back();">
        <button id='Schedury'>Schedury</button>
      </div>
      <h1 class="ui header nanumsquare">
        환경설정
      </h1>
      <div id='menu_layout'>
        <div class="ui stackable pagination menu">

          <a class="active item nanumsquare" id="startDate" onclick="changeMenu(document.getElementById('startDate'))">
            시작일
          </a>
          <a class="item nanumsquare" id="pwdChange" onclick="changeMenu(document.getElementById('pwdChange'))">
            비밀번호 변경
          </a>
          <a class="item nanumsquare" id="display" onclick="changeMenu(document.getElementById('display'))">
            디스플레이
          </a>
          <a class="item nanumsquare" id="sync" onclick="changeMenu(document.getElementById('sync'))">
            동기화
          </a>
        </div>
      </div>
      <div class=segment>
        
          <div class="ui segment">

            <div id=startDateDes style="display:block">
              <div class='content nanumsquare'> 달력에 시작할 날짜를 선택해 주세요</div>
              <p>
                <div class='segment'>
                  <div class="ui selection dropdown">
                    <input type="hidden" name="day">
                    <i class="dropdown icon"></i>
                    <div class="default text nanumsquare">Day</div>
                    <div class="menu">
                      <div class="item nanumsquare" data-value="토">토요일</div>
                      <div class="item nanumsquare" data-value="일">일요일</div>
                      <div class="item nanumsquare" data-value="월">월요일</div>
                    </div>
                  </div>
                </div>
              </p>
            </div>
            
            <div id=pwdChangeDes style="display:none !important;">
              <p class='content nanumsquare'>현재 비밀번호를 입력해 주세요.</p>
              <div class="segment nanumsquare">
                <label style="display:none">Password</label>
                <div class="ui left icon large input">
                  <input id="input_passwd" type="password" name="passwd" placeholder="Password">
                  <i class="lock icon"></i>
                </div>
              </div>

              <p class='content nanumsquare'>변경할 비밀번호를 입력해 주세요.</p>
                <div class='segment'>
                  <div class="ui left icon large input" id="pass" data-tooltip="비밀번호는 문자, 숫자 조합 6자리 이상 만들어주세요." data-position="bottom left">
                      <input class="input-orange nanumsquare" id="pass_input" name="passwd" type="password" placeholder="비밀번호" onfocus="inputOnFocus(1);" onblur="checkFocus('pass_ico', 'key')" oninput="checkPassword();">
                      <i class="key icon" id="pass_ico"></i>
                  </div>
                </div>

              <p class='content nanumsquare'>변경할 비밀번호를 다시 한 번 입력해 주세요.</p>
                <div class='segment'>
                  <div class="ui right icon large input" id="pass2">
                      <input class="input-orange nanumsquare" id="pass2_input" name="passwdconfm" type="password" placeholder="비밀번호 확인" onfocus="inputOnFocus(3);" onblur="checkFocus('pass2_ico', '')" oninput="checkPassword();">
                  </div>
                </div>
            </div>

            <div id=displayDes style="display:none">
              <p class='content nanumsquare'>사용할 언어를 선택하세요.</p>
              <div class="ui selection dropdown">
                <input type="hidden" name="day">
                <i class="dropdown icon"></i>
                <div class="default text nanumsquare">Language</div>
                <div class="menu">
                  <div class="item nanumsquare" data-value="Eng">English</div>
                  <div class="item nanumsquare" data-value="Kor">한국어</div>
                </div>
              </div>

              <p class='content nanumsquare'>월이 표시될 방식을 선택하세요.</p>
              <div class="ui selection dropdown">
                <input type="hidden" name="day">
                <i class="dropdown icon"></i>
                <div class="default text nanumsquare">Month</div>
                <div class="menu">
                  <div class="item nanumsquare" data-value="Num">Number(1,2,3...)</div>
                  <div class="item nanumsquare" data-value="English">English(January, February...)</div>
                </div>
              </div>
            </div>

            <div id=syncDes style="display:none">
              <button class="ui button fluid nanumsquare" id='google' type="button">구글캘린더와 동기화</button>
              <button class="ui button fluid nanumsquare" id='naver' type="button">네이버캘린더와 동기화</button>
            </div>

          </div>
      </div>
      <div style="display:flex; justify-content: center;">
        <button class="ui yellow button fluid nanumsquare" id='적용' type="button" >적용</button>
        <button class="ui button fluid nanumsquare" id='취소' type="button" onclick="history.back();">취소</button>
      </div>
    </div><!-- layout 끝  -->




    <div id='mod' class="ui longer modal">
      <div class="header">7월 31일 화요일</div>
      
      <div class="scrolling">
        <div id='content_layout'>    
          <div id="mod_left">
            Very long content goes here
          </div>
          <div id='mod_right'>
            Very long content goes here
          </div>
        </div>
      </div>
    </div>




    <script src="/javascripts/settings.js"></script>
  </body>
</html>
