<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">

    <link rel='stylesheet' href='/stylesheets/settings.css' />
    <link rel="stylesheet" type="text/css" href="../dist/semantic.css"/>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <script src="../dist/semantic.js">
    </script>

    <script src="/javascripts/settings.js"></script>
  </head>

  <body>
    <div id=layout>
      <h1 class="ui header">
        환경설정
      </h1>
      <div class="sub header">Settings</div>
      
      <div class="ui stackable container menu">

        <a class="active item" id="startDate" onclick="changeMenu(document.getElementById('startDate'))">
          시작일
        </a>
        <a class="item" id="pwdChange" onclick="changeMenu(document.getElementById('pwdChange'))">
          비밀번호 변경
        </a>
        <a class="item" id="display" onclick="changeMenu(document.getElementById('display'))">
          디스플레이
        </a>
        <a class="item" id="sync" onclick="changeMenu(document.getElementById('sync'))">
          동기화
        </a>
        <a class="item" id="alarm" onclick="changeMenu(document.getElementById('alarm'))">
          알림
        </a>
      </div>

      <div class="ui segment">
        <p>

        </p>
      </div>
    </div>


  </body>
</html>
