<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="dist/semantic.css">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="dist/semantic.js"></script>

    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/signup.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/color.css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico|Shrikhand" rel="stylesheet">
</head>
<body>
    <header>
        <!--<h1 class="ui header text-color-dark">Schedury</h1>-->
        <div id="logo_main">Schedury</div>
    </header>
    
    <div class="div-form">
        <form action="/signup" method="POST" name="formsignup" enctype="multipart/form-data">
            <div class="ui text container">
                
                <div class="div-input title">
                    <h2 class="h2-spacer text-color-dark">회원가입</h2>
                </div>
            
                <div class="ui segment">
                    <div id="page">
                        <div class="ui stackable one column vertically divided grid container">
                            <div class="column">
                                <div class="div-input">
                                    <div class="ui left icon fluid input" id="id" data-tooltip="아이디는 문자 포함 숫자 조합으로 입력하세요." data-position="bottom left">
                                        <input class="input-orange" id="id_input" name="id" type="text" placeholder="아이디" onfocus="inputOnFocus(0);" onblur="checkFocus('id_ico', 'user');" oninput="checkId();" onkeyup="checkIdAlready();">
                                        <i class="user icon" id='id_ico'></i>
                                    </div>
                                </div>

                                <div class="div-input">
                                    <div class="ui left icon fluid input" id="pass" data-tooltip="비밀번호는 문자, 숫자 조합 6자리 이상 만들어주세요." data-position="bottom left">
                                        <input class="input-orange" id="pass_input" name="passwd" type="password" placeholder="비밀번호" onfocus="inputOnFocus(1);" onblur="checkFocus('pass_ico', 'key')" oninput="checkPassword();">
                                        <i class="key icon" id="pass_ico"></i>
                                    </div>
                                </div>

                                <div class="div-input">
                                    <div class="ui right icon fluid input" id="pass2">
                                        <input class="input-orange" id="pass2_input" name="passwdconfm" type="password" placeholder="비밀번호 확인" onfocus="inputOnFocus(3);" onblur="checkFocus('pass2_ico', '')" oninput="checkPassword();">
                                        <i class="icon" id="pass2_ico"></i>
                                    </div>
                                </div>

                                <div class="div-input">
                                    <div class="ui left icon fluid input" id="email">
                                        <input class="input-orange" id="email_input" name="email" type="email" placeholder="이메일" onfocus="inputOnFocus(3);" onblur="checkFocus('email_ico', 'envelope')" oninput="checkEmail();" onkeyup="checkEmailAlready();">
                                        <i class="envelope icon" id="email_ico"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="row"></div>

                            <div class="column">
                                <div class="ui two column stackable grid">
                                    <div class="nine wide column">
                                        <button class="ui yellow button fluid" type="button" onclick="next(document.getElementById('next_page'),document.getElementById('page'))">다음</button>
                                    </div>
                                    
                                    <div class="seven wide column">
                                        <button class="ui button fluid" type="button" onclick="history.back();">취소</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--회원가입 페이지2 -->
                    <div  id="next_page" style="display:none">
                        <div>
                            <div class="ui stackable one column vertically divided grid container">

                                <div class="row"></div>

                                <div class="column">
                                    <div class="ui two column stackable grid">
                                        <div class="six wide column">
                                            <img id="profile_image" class="ui small circular image" onclick="$('#select_file').trigger('click');">
                                        </div>
                                        
                                        <div class="ten wide column">
                                            <h3 class="text-color-dark">프로필 사진 선택</h3>
                                            <h4 class="text-color-dark">원하시는 프로필 사진을 선택해 주세요.</h4>
                                            <button class="ui button fluid" type="button" onclick="$('#select_file').trigger('click');">사진 선택</button>
                                            <input id="select_file" type="file" value="파일 업로드" class="upload" name="profimg"> 
                                        </div>
                                    </div>
                                </div>

                                <div class="column">
                                    <div class="div-input">
                                        <div class="ui left icon fluid input" id="nickname" data-tooltip="닉네임을 입력하세요." data-position="bottom left">
                                            <input class="input-orange" id="nickname_input" name="nickname" type="text" placeholder="닉네임" onfocus="inputOnFocus(3);" onblur="checkFocus('nickname_ico', 'address card')">
                                            <i class="address card icon" id="nickname_ico"></i>
                                        </div>
                                    </div>

                                    <div class="div-input">
                                        <div class="ui left icon fluid input" id="user_intro" data-tooltip="자기소개 메시지를 입력하세요." data-position="bottom left">
                                            <textarea class="input-orange" id="intro_input" name="intro" placeholder="자기소개 메시지" onfocus="inputOnFocus(3);" onblur="checkFocus('intro_ico', 'edit');"></textarea>
                                            <i class="edit icon" id='intro_ico'></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row"></div>

                                <div class="column">
                                    <div class="ui two column stackable grid">
                                        <div class="nine wide column">
                                            <button class="ui yellow button fluid" type="button" onclick="requestSignup();">가입</button>
                                        </div>
                                        
                                        <div class="seven wide column">
                                            <button class="ui button fluid" type="button" onclick="history.back();">취소</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

            </div>
        </form>
    </div>
    <script src="javascripts/signup.js"></script>
</body>
</html>