/* color default */
.yellow {
    background-color: #FDC23E !important;
    color: #ffffff !important;
}
.orange {
    background-color: #F9A11B !important;
    color: #ffffff !important;
}
.white {
    background-color: #FFFFFF !important;
    color: #274555 !important;
}
.dark {
    background-color: #274555 !important;
    color: #ffffff !important;
}
.black {
    background-color: #000 !important;
    color: #ffffff !important;
}

/* color text */
.text-color-dark {
    color: #274555 !important;
}

/* button tag */
.ui.yellow.button {
    background-color: #FDC23E !important;
    color: #ffffff !important;
    transition: 0.2s;
}
.ui.yellow.button:hover {
    background-color: #F9A11B !important;
    color: #ffffff !important;
}
.ui.yellow.button:active {
    background-color: rgb(214, 138, 23) !important;
    color: #ffffff !important;
}
.ui.white.button {
    background-color: #FFFFFF !important;
    color: #274555 !important;
    transition: 0.2s;
}
.ui.white.button:hover {
    background-color: rgb(224, 224, 224) !important;
    color: #274555 !important;
}
.ui.white.button:active {
    background-color: rgb(170, 170, 170) !important;
    color: #274555 !important;
}

/* input tag */
.input-orange:focus {
    border-color: #F9A11B !important;
    color: #274555 !important;
}
.ui.input.confirm>input {
    background-color: #f9fff6;
    border-color: #cde0b4;
    color: #569f38;
}
.ui.input.confirm>input:focus{
    background-color: #e3fad8;
    border-color: #98da42;
    color: #569f38;
}

/* icon tag */
.ui.labeled.icon.buttons.white > .button > .icon, .ui.labeled.icon.button > .icon {
    background-color: transparent;
}

/* menu tag */
.ui.menu:not(.vertical) .item {
    color: #274555;
}
.ui.menu:not(.vertical) .item:hover {
    background: #FDC23E;
    color: #274555;
}
.ui.menu:not(.vertical) .item:active {
    background: #F9A11B;
    color: #274555;
}
.ui.menu .active.item {
    background: #F9A11B;
    color: white;
}
.ui.menu .active.item:hover {
    background: #FDC23E;
    color: #274555;
}
.ui.menu .active.item:active {
    background: #F9A11B;
    color: #274555;
}