body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    margin: 48px auto 0 auto;
}

.div-form {
    padding-top: 24px;
}

.title {
    display: flex;
    margin-bottom: 16px !important;
}

.div-input {
    justify-content: center;
    margin: 10px 0 10px 0;
    padding: 6px 0 6px 0;
}

.h2-spacer {
    padding: 0 0 0 8px;
    margin: 0 auto 0 0;
}

.ui.text.container {
    max-width: 480px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ui.small.image {
    width: 128px !important;
    height: 128px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ten.wide.column {
    padding-top: 4px !important;
}

h4 {
    margin-top: 0;
    font-weight: 500;
}

.ten.wide.column .ui.button.fluid {
    margin-top: 24px !important;
}

.nine.wide.column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 6px !important;
}

.seven.wide.column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 6px !important;
}

.six.wide.column {
    margin-top: -8px;
}

.ui.two.column.stackable.grid {
    padding-bottom: 14px
}

.ui.segment {
    margin-bottom: 24px !important;
}

.ui.basic.label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    background-color: #FFF6F6;
    border-color: #E0B4B4;
    border-left: none;
    color: #9F3A38;
}

.ui[class*="right labeled"].input > input {
    border-right-width: 0;
}

input.upload {  
    opacity: 0;
    display: none;
    position: absolute;
}

#logo_main {
    background-image: url('../images/logo_main.png');
    width: 300px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-style: 0 !important;
    outline:none;
}

@media only screen and (max-width: 767px)  {
    header {
        margin: 16px auto 0 auto !important;
    }

    .div-form {
        padding-top: 16px !important;
    }

    .six.wide.column {
        display: flex !important;
        justify-content: center !important;    
    }
    
    .ten.wide.column {
        display: flex !important;
        flex-direction: column;
        align-items: center !important; 
    }

    .ten.wide.column .ui.button.fluid {
        margin-top: 16px !important;
    }

    .nine.wide.column .ui.button.fluid{
        margin-top: -10px !important;
    }
    
    .seven.wide.column .ui.button.fluid{
        margin-top: -14px !important;
    }
    
}