body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
font-family: 'Noto Serif KR', serif;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Black And White Picture', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Gamja Flower', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Dokdo', cursive;
font-family: 'Sunflower', sans-serif;
font-family: 'Do Hyeon', sans-serif;
font-family: 'Yeon Sung', cursive;
font-family: 'Gugi', cursive;
font-family: 'Gaegu', cursive;
font-family: 'Stylish', sans-serif;
font-family: 'Hi Melody', cursive;
font-family: 'Cute Font', cursive;
font-family: 'East Sea Dokdo', cursive;
font-family: 'Song Myung', serif;
font-family: 'Jua', sans-serif;
font-family: 'Poor Story', cursive;
*/